# Python Insights - Analisando Dados com Python

### Projeto - Cancelamento de Clientes

Nesse projeto irei fazer uma analise de porque os cancelamentos estao ocorrendo, e dar ideias do que pode ser feito para resolver

São necessarios as seguintes instalaçoes, extensão Jupyter e
pip install pandas numpy openpyxl nbformat ipykernel plotly

### Irei seguir os seguintes passos 

Passo 1 - importar os dados

Passo 2 - Visualisar a base de dados

Passo 3 - Corrigir a base

Passo 4 - Analise dos cancelamentos

Passo 5 - Analise da causa do cancelamento

In [1]:
# Passo 1
import pandas as pd
tabela = pd.read_csv("cancelamentos.csv")
display(tabela)
# Passo 2
tabela = tabela.drop(columns="CustomerID")
display(tabela)

,CustomerID,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
881661,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

In [2]:
# Passo 3
display(tabela.info())
tabela = tabela.dropna()
display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881666 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881664 non-null  float64
 1   sexo                    881664 non-null  object
 2   tempo_como_cliente      881663 non-null  float64
 3   frequencia_uso          881663 non-null  float64
 4   ligacoes_callcenter     881664 non-null  float64
 5   dias_atraso             881664 non-null  float64
 6   assinatura              881661 non-null  object
 7   duracao_contrato        881663 non-null  object
 8   total_gasto             881664 non-null  float64
 9   meses_ultima_interacao  881664 non-null  float64
 10  cancelou                881664 non-null  float64
dtypes: float64(8), object(3)
memory usage: 74.0+ MB

None

<class 'pandas.core.frame.DataFrame'>
Index: 881659 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881659 non-null  float64
 1   sexo                    881659 non-null  object
 2   tempo_como_cliente      881659 non-null  float64
 3   frequencia_uso          881659 non-null  float64
 4   ligacoes_callcenter     881659 non-null  float64
 5   dias_atraso             881659 non-null  float64
 6   assinatura              881659 non-null  object
 7   duracao_contrato        881659 non-null  object
 8   total_gasto             881659 non-null  float64
 9   meses_ultima_interacao  881659 non-null  float64
 10  cancelou                881659 non-null  float64
dtypes: float64(8), object(3)
memory usage: 80.7+ MB

None

In [3]:
# Passo 4
display(tabela["cancelou"].value_counts())

display(tabela["cancelou"].value_counts(normalize=True))

cancelou
1.0    499993
0.0    381666
Name: count, dtype: int64

cancelou
1.0    0.567105
0.0    0.432895
Name: proportion, dtype: float64

In [ ]:
# Passo 5 
import plotly.express as px

for coluna in tabela.columns:
    grafico = px.histogram(tabela, x=coluna, color="cancelou")
    grafico.show()
# Criar os graficos utlizia muito espaço, não irei dar run nesta parte do codigo
# Ele cria graficos de histograma de todas as colunas em relação a coluna "cancelou"

In [5]:
'''
Analisando os dados podemos ver :
 assinantes com mais de 50 anos ou mais sempre cancelam
 assinantes que ligaram 5 vezes ou mais para o callcenter sempre cancelam
 pagamento que atrasa 20 dias ou mais sempre cancelam
 assinantes mensais sempre cancelam
 assinantes que gastaram menos de ou igual a 500 reais sempre cancelam
 feito a analise vamos ver quanto a porcentagem de usuarios estao cancelando depois de corrigir esses erros
'''
# Podemos ter limgugem acessivel ao publico mais velho, ou algum beneficio voltado a esse publico
tabela = tabela[tabela["idade"] <= 50]
# Podemos colocar a situação do cliente em prioridade se ele ligar mais de 3 vezes para o cliente
tabela = tabela[tabela["ligacoes_callcenter"] <= 5]
# Avisos sobre o atraso de pagamento e facilidade de resolver
tabela = tabela[tabela["dias_atraso"] <= 20]
# Podemos dar beneficios a assinaturas anuais e trimestrais como descontos e garantias
tabela = tabela[tabela['assinatura']!="Monthly"]
# Podemos aumentar os benefios as primeiras compras
tabela = tabela[tabela["total_gasto"]>=500]

display(tabela["cancelou"].value_counts())
display(tabela["cancelou"].value_counts(normalize=True))
# Fazendo isso reduzimos o cancelamento para 88%

cancelou
0.0    381666
1.0     51889
Name: count, dtype: int64

cancelou
0.0    0.880317
1.0    0.119683
Name: proportion, dtype: float64